$icomoon-font-family: "axel" !default;
$icomoon-font-path: "fonts" !default;

$icon-envelope-o: "\f003";
$icon-step-backward: "\f048";
$icon-fast-backward: "\f049";
$icon-backward: "\f04a";
$icon-play: "\f04b";
$icon-pause: "\f04c";
$icon-stop: "\f04d";
$icon-forward: "\f04e";
$icon-fast-forward: "\f050";
$icon-step-forward: "\f051";
$icon-amazon: "\e901";
$icon-apple: "\e903";
$icon-applemusic: "\e905";
$icon-applepodcasts: "\e90c";
$icon-beatsbydre: "\e90d";
$icon-behance: "\e90e";
$icon-deezer: "\e902";
$icon-facebook: "\e904";
$icon-googleplay: "\e907";
$icon-instagram: "\e906";
$icon-snapchat: "\e90f";
$icon-soundcloud: "\e908";
$icon-spotify: "\e900";
$icon-tumblr: "\e90b";
$icon-twitter: "\e909";
$icon-whatsapp: "\e912";
$icon-youtube: "\e90a";
$icon-image: "\e913";
$icon-images: "\e914";
$icon-headphones: "\e910";
$icon-music: "\e911";
$icon-mic: "\e91e";
$icon-file-picture: "\e927";
$icon-file-music: "\e928";
$icon-file-play: "\e929";
$icon-file-video: "\e92a";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass: "\e949";
$icon-display: "\e956";
$icon-sphere: "\e9c9";
$icon-earth: "\e9ca";
$icon-link: "\e9cb";
$icon-sun: "\e9d4";
$icon-heart: "\e9da";
$icon-info: "\ea0c";
$icon-play2: "\ea15";
$icon-pause1: "\ea16";
$icon-stop1: "\ea17";
$icon-previous: "\ea18";
$icon-next: "\ea19";
$icon-backward1: "\ea1a";
$icon-forward2: "\ea1b";
$icon-volume-high: "\ea26";
$icon-volume-medium: "\ea27";
$icon-volume-low: "\ea28";
$icon-volume-mute: "\ea29";
$icon-volume-mute2: "\ea2a";
$icon-volume-increase: "\ea2b";
$icon-volume-decrease: "\ea2c";
$icon-loop2: "\ea2e";
$icon-infinite: "\ea2f";
$icon-shuffle: "\ea30";
$icon-embed: "\ea7f";
$icon-embed2: "\ea80";
$icon-terminal: "\ea81";
$icon-share2: "\ea82";

